:root {
  --heart-height: 15px;
  --heart-width: 18px;
}

.rating {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 16px;
}

.heartContainer {
  display: block;
  height: var(--heart-height);
  margin-right: 10px;
  width: var(--heart-width);
}

.heart {
  height: var(--heart-height);
  width: var(--heart-width);
}

.absolute {
  position: absolute;
}
